<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'djangobelt/css/style.css' %}">
<!--  <link rel="stylesheet" type="text/css" href="../../static/login_registration/css/style.css">-->
  <title>Login or Register</title>
</head>
<body>
  <div id="container">

    <div id="header">
      {% load staticfiles %}
      <img src="{% static 'djangobelt/images/dojo_logo.png' %}" alt="logo" class="logo"/>
      <div class="apptitle">django POKE</div>
    </div>
    
    <div id="login" class="box">
      <h2>Login</h2>
      <form action="/login" method="POST">
        {% csrf_token %}
        <label>Email:    </label><input type="text"     name="email"    class="input" />
        <label>Password: </label><input type="password" name="password" class="input" />
        <input type="submit" class="submit" value="Login">
          {% if messages %}
           <div class="errors">
            <ul class="messages">
            {% for message in messages %}
              {% if 'login' in message.tags %}
                <li>{{ message }}</li>
              {% endif %}  
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      </form>
    </div>
    <div id="register" class="box">
     <h2>Register</h2>
      <form action="/register" method="POST">
        {% csrf_token %}
        <label>Name:      </label><input type="text"     name="name"      value="{{ request.session.formdata.name }}"  class="input" />
        <label>Alias:     </label><input type="text"     name="alias"     value="{{ request.session.formdata.alias }}" class="input" />
        <label>Email:     </label><input type="text"     name="email"     value="{{ request.session.formdata.email }}" class="input" />
        <p>*Password should be at least 8 characters</p>
        <label>Password:  </label><input type="password" name="password"  value=""                                     class="input" />
        <label>Confirm:   </label><input type="password" name="password2" value=""                                     class="input" />
        <label>Birthdate: </label><input type="date"     name="birthdate" value=""                                     class="input" />
        <input type="submit" class="submit" value="Register">
          {% if messages %}
            <div class="errors">
              <ul class="messages">
              {% for message in messages %}
                {% if 'register' in message.tags %}
                  <li>{{ message }}</li>
                {% endif %}  
              {% endfor %}
              </ul>
          </div>
          {% endif %}
      </form>
    </div>
  </div>
</body>
</html>
