* {
  margin              : 0;
  padding             : 0;
}
body {
  font-family         : Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
ul {
  list-style-position : inside;
  list-style-image    : url(../images/poke.png);
}
#container {
  width               : 1600px;
  margin              : 25px auto;
  font-size           : 20px;
}

.button {
  padding             : 5px 11px;
  margin              : -2px 0 2px 2px;
  font-size           : 16px;
  color               : white;
  background-color    : cornflowerblue;
  border              : none;
  border-radius       : 3px;
  box-shadow          : 2px 2px 2px black;
}


.Table {
  display             : block;
  width               : 100%;
}
.THeading, .TBody, .TFoot, .TRow{
  clear               : both;
}
.THead, .TFoot{
  background-color    : #DDD;
  font-weight         : bold;
}
.TCell, .THead {
  border              : 1px solid #999999;
  float               : left;
  height              : 20px;
  overflow            : hidden;
  padding             : 8px 1.1%;
  width               : 170px;
  text-align          : left;
}
.Table:after {
  visibility          : hidden;
  display             : block;
  font-size           : 0;
  content             : " ";
  clear               : both;
  height              : 0;
}
  .emailcell {
    width               : 465px;
  }
  .buttoncell {
    padding             : 4px 1.1%;
    height              : 28px;
    width               : 65px;
  }
  .pokecount {
    width: 170px;
  /*  text-align: center;*/
  }
  .normalizeheader {
    height              : 20px;
    padding             : 8px 1.1%;
  }

#header {
  height                  : 35px;
  padding                 : 15px;
  background-color        : rgba(0,0,0,.07);
  border                  : 1px solid black;
  border-radius           : 8px;
  box-shadow              : 3px 3px 3px black;
  margin                  : 15px 9px 25px 5px;
}
  #header h1 {
    float                 : left;
    color                 : crimson;
    text-shadow           : 1px 1px 2px black;
  }
  #header p {
    float                 : right;
    width                 : 500px;
    text-align            : right;
    font-size             : 19px;
    margin                : 9px 10px 0 0;
  }
  #header a {
    float                 : right;
    padding               : 7px 10px;
    margin-top            : 2px;
    font-size             : 14px;
    font-weight           : bold;
    color                 : white;
    border                : none;
    border-radius         : 3px;
    background-color      : cornflowerblue;
    box-shadow            : 2px 2px 2px black;
    text-decoration       : none;
  }
#header .logo {
    height                : 45px;
    float                 : left;
    margin-top            : -3px;
  } 
  #header .apptitle {
    font-size             : 46px;
    text-transform        : uppercase;
    margin-top            : -7px;
    padding-left          : 20px;
    font-weight           : bold;
    color                 : red;
    float                 : left;
    text-shadow           : 2px 2px 2px black;
}
.logo {
  height                  : 45px;
  display                 : block;
  padding-bottom          : 8px;
}
#footer {
  border-top              : 2px solid black;
  margin                  : 55px 9px 9px 5px;
  padding-top             : 10px;
  
}
.username {
  width: 350px;
}

.alias {
  width: 190px;
}

#results {
  width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.pokes {
  margin-bottom: 5px;
}

.PokedBy {
  width: 500px;
  margin: 0 0 18px 10px;
  padding: 4px 0;
}

li {
  font-size: 21px;
  padding-top: 2px;
}
